.App {
  width: 100%;
  height: 800px;
  padding: 40px;
}

.user-Avatar {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.selected-avatar{
  border: 1px #1890ff solid;
}

.ant-avatar {
  cursor: pointer;
}

.post-List {
  height: inherit;
  overflow: auto;
}

.post {
  margin-bottom: 20px !important;
  cursor: pointer;
}

.selected-post {
  border: 1px #1890ff solid !important;
}

.reply-Btn {
  padding-left: 0px !important;
}

.ant-comment-nested {
  margin-left: 0px !important;
}

.Nested-Comments {
  padding-left: 20px;
}

.ErrorMessage {
  color: red;
}

.reply-body, .reply-tags, .reply-username {
  margin-bottom: 10px;
}

.reply-username {
  color: rgba(0, 0, 0, 0.45);
  font-size: 12px;
}

.invalid-border {
  border: 1px solid red;
  border-radius: 5px;
}

.comment-area .ant-input {
  border-radius: 5px;
}
